<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242527333064-qqp69mmfv0i2uq9ms8ga02se9l1ns2a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242527333064-qqp69mmfv0i2uq9ms8ga02se9l1ns2a1</string>
	<key>API_KEY</key>
	<string>AIzaSyCVE5MW3GvVL8bmYf11T3AF-UaVxfPMo-A</string>
	<key>GCM_SENDER_ID</key>
	<string>242527333064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.list</string>
	<key>PROJECT_ID</key>
	<string>content-b78b7</string>
	<key>STORAGE_BUCKET</key>
	<string>content-b78b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242527333064:ios:56e24eda489792021213fd</string>
</dict>
</plist>